
.auth__main{

    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: $primary;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.auth__box-container{
    background-color: white;
    box-shadow: 0 .3rem $light-grey;
    border-radius: .3rem;
    padding: 2rem; 
    width: 22rem ;
}

.auth__title{
    // darken es una funcion de sass que cambia el porcentaje del color
    color: darken($color: $primary, $amount: 20);
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center;
   
}

.auth__input{
    color: $dark-grey;
    border: 0;
    border-bottom: 1px solid $light-grey;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    height: 3rem;
    width: 100%;

    transition: border-bottom .3s ease ;

    &:focus{
        outline: none;
        border-bottom: 1px solid $primary;
    }
}

.auth__social-networks{

    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 1rem;
    width: 100%;
}

.auth__alert-error{
    background-color: red;
    border-radius: .3rem;
    color: white;
    display: flex;
    margin-bottom: .7rem;
    padding: .4rem;
}