.journal__main-content{
    display: flex;
}

.journal__sidebar{
    background-color: $dark-grey;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 25vw;
}

.journal__sidebar-navbar{
    display: flex;
    justify-content: space-between;

}

.journal__sidebar-navbar h3{
    font-weight: lighter;

}

.journal__new-entry{
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    width: 100%;

    transition: color .3s ease;

    &:hover{
        color: darken($color: white, $amount: 20);
    }
}

.journal__entries{
    flex: 1 1 auto;
    margin-top: 2rem;
    // overflow: hidden;
    overflow-y: scroll;
}

.journal_entry{
    background-color: white;
    border-radius: .7rem;
    color: $dark-grey;
    display: flex;
    margin-bottom: 1rem;
    overflow: hidden;
    justify-content: space-between;
}
.journal_entry-picture{
    height: auto;
    width: 4rem;
}

.journal__entry-body{
    padding: .75rem;
   
}
.journal__entry-title{
    font-size: .9rem;
    font-weight: bold;
}
.journal__entry-content{
    font-size: .7rem;

}

.journal__entry-date-box{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .25rem;
}

.journal__entry-date-box span{
    padding: .2rem;
}