
.notes__main-content{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.notes__appbar{
    align-items: center;
    background-color: $primary;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.notes__content{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2.5rem;
}

.notes__title-input, .notes__textaere {
    border: none;

    &:focus{
        outline: none;
    }
}

.notes__title-input{
    color: $dark-grey;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.notes__textaere{
    // border: 1px solid black;
    border: none;
    color: $dark-grey;
    flex: 1 1 auto;
    resize: none;
}

.notes__image{
    text-align: center;
}

.notes__image img{
    box-shadow: 5px 5px $dark-grey;
    height: 20vh;
}