*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
}

main {
    width: 100%;
}

.pt-1{
    padding-top: 1rem;
}

.mt-1{
    margin-top: .5rem;
}
.mt-2{
    margin-top: 1rem;
}
.mt-3{
    margin-top: 1.5rem;
}
.mt-4{
    margin-top: 2rem;
}
.mt-5{
    margin-top: 2.5rem;
}

.mb-1{
    margin-bottom: .5rem;
}
.mb-5{
    margin-bottom: 1.5rem;
}

.pointer{
    cursor: pointer;
}